.DS_Store
.huskyrc.json
out
log.log
**/node_modules
*.pyc
*.vsix
**/.vscode/.ropeproject/**
**/testFiles/**/.cache/**
*.noseids
.nyc_output
.vscode-test
__pycache__
npm-debug.log
**/.mypy_cache/**
!yarn.lock
coverage/
cucumber-report.json
**/.vscode-test/**
**/.vscode test/**
**/.vscode-smoke/**
**/.venv*/
port.txt
precommit.hook
pythonFiles/experimental/ptvsd/**
pythonFiles/lib/**
debug_coverage*/**
languageServer/**
languageServer.*/**
!uitests/features/languageServer/**
!uitests/src/languageServer/**
!uitests/code/**/languageServer/**
bin/**
obj/**
.pytest_cache
tmp/**
.python-version
.vs/
test-results.xml
uitests/out/**
!build/

# TODO (GH-8925) This is temporary.  We will remove it when we adjust
# tests to not leave the file behind.
src/test/get-pip.py
.vscode/settings.json
.env
*.yml

test.py
# These represent a highly golfed day 2 part 1 solution. No need to track
# as it was not my idea. I found it on reddit.
# https://www.reddit.com/r/adventofcode/comments/r6zd93/comment/hmwf97g/?utm_source=share&utm_medium=web2x&context=3
a.py
a
sample.txt
Day_05/images/*.png
Day_05/images/gif/*.gif
Day_05/make_gif.py
